version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    ports:
      - "${APP_PORT:-8080}:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - laravel.test
    networks:
      - sail
    restart: unless-stopped

  laravel.test:
    image: vankishy/web-course
    container_name: laravel-app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      WWWUSER: "${WWWUSER}"
      LARAVEL_SAIL: 1
      XDEBUG_MODE: "${SAIL_XDEBUG_MODE:-off}"
      XDEBUG_CONFIG: "${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}"
      IGNITION_LOCAL_SITES_PATH: "${PWD}"
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: "web_course"
      DB_USERNAME: "web_course"
      DB_PASSWORD: "secret"
    volumes:
      - .:/var/www/html
    networks:
      - sail
    depends_on:
      - mysql
    restart: unless-stopped

  mysql:
    image: "mysql/mysql-server:8.0"
    container_name: laravel-mysql
    ports:
      - "${FORWARD_DB_PORT:-3306}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "secret"
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: "web_course"
      MYSQL_USER: "web_course"
      MYSQL_PASSWORD: "secret"
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_EXTRA_OPTIONS: "${MYSQL_EXTRA_OPTIONS}"
    volumes:
      - "sail-mysql:/var/lib/mysql"
      - "./vendor/laravel/sail/database/mysql/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh"
    networks:
      - sail
    healthcheck:
      test:
        - CMD
        - mysqladmin
        - ping
        - "-psecret"
      retries: 3
      timeout: 5s
    restart: unless-stopped

networks:
  sail:
    driver: bridge

volumes:
  sail-mysql:
    driver: local
