name: Laravel CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  tests:
    name: Build & Run Laravel Tests
    runs-on: ubuntu-latest

    permissions:
      contents: read
    
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: laravel_test
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    
    steps:
      - name: 1. Checkout Code
        uses: actions/checkout@v4

      - name: 2. Setup PHP Environment
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: pdo_mysql, mbstring, dom, fileinfo, bcmath, exif
          coverage: none
          tools: composer

      - name: 3. Install PHP Dependencies (Composer)
        run: composer install --prefer-dist --no-interaction --no-progress

      # - name: 4. Install Node (Untuk npm/Vite)
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: '20'

      - name: 5. Copy .env & Generate Key
        run: |
          cp .env.example .env
          php artisan key:generate

      # - name: 6. Install Frontend Dependencies (NPM)
      #   run: npm install

      - name: 7. Run PHPUnit Tests
        env:
          DB_CONNECTION: mysql
          DB_DATABASE: laravel_test
          DB_USERNAME: root
          DB_PASSWORD: root
          DB_HOST: 127.0.0.1
          DB_PORT: 3306
        run: php artisan test
